<section vocab="http://schema.org/" typeof="PostalAddress">
  <span property="streetAddress">{{ settings.addr_name }}</span>
  <span property="streetAddress">{{ settings.addr_street }}</span>
  <span property="addressLocality">{{ settings.addr_city }}</span>,
  <span property="addressRegion">{{ settings.addr_state }}</span>
  <span property="postalCode">{{ settings.addr_zip }}</span>
</section>
