{% comment %}
A single product in a collection, search result, etc.
{% endcomment %}
      <section vocab="http://schema.org/" typeof="Product">
        <header>
          <div property="name">{{ product.title }}</div>
          <p property="offers" typeof="OfferForPurchase">
            <span property="schema:price"         content="{{ price }}">{{ price_display }}</span>
            <span property="schema:priceCurrency">{{ currency }}</span>
            <link property="availability"         href="http://schema.org/{{availability}}">
            <link property="schema:itemCondition" href="http://schema.org/NewCondition">
          </p>
        </header>
        {%- comment -%} TODO use srcset and sizes {%- endcomment -%}
        <a property="url" href="{{ product.url | within: collection }}" title="View {{ product.title | escape }}">
          <img sizes="{{ img_sizes }}" srcset="{{ img_srcset }}" property="image" src="{{ img_url_collection }}" alt="{{ product.title | escape }}">
        </a>
      </section>
