  <header>
    {%- assign main_menu = 'main-menu' -%}
    {%- assign product_menu = 'product-nav' %}
    <h1><a href="/">Rennes</a></h1>
    <div>
      <a href="/cart">
	  {% if cart.item_count > 0 %}
	  {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items'}} in Bag
      {% else %}
      My Bag
	  {% endif %}
      </a>
{% include 'searchform' %}
    </div>
  </header>

  <nav class="main product-nav">
    {%- comment %} TODO credit webdesignerdepot 2014 06 nested navigation {% endcomment %}
    {% comment %} edit the navigation lists at myshopify.com/admin/links {% endcomment %}
    {% comment %}
    NEW!  They finally support nested menus in what sounds like a sensible way.
    Probably switch to this at some point.
    https://help.shopify.com/en/manual/sell-online/online-store/menus-and-links/change-to-nested-menus
    {% endcomment %}
    <ul>
      {%- for link in linklists[product_menu].links -%}
      {%- include 'nav_sublinks' -%}
      <li>
        <a href="{{ link.url }}">{{ link.title | escape }}</a>
      {%- if linklists[link.handle].links.size > 0 %}
        <ul{{ nav_class_html }}>
        {%- for sublink in linklists[link.handle].links %}
          <li><a href="{{ sublink.url }}">{{ sublink.title | escape }}</a></li>
        {%- endfor %}
        </ul>
      {%- endif %}
      </li>
      {% endfor -%}
    </ul>
  </nav>

  <nav class="main site-nav">
    <ul>
      {%- for link in linklists[main_menu].links %}
      <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
      {%- endfor -%}
    </ul>
  </nav>
