  <article vocab="http://schema.org/" typeof="Product">

    <h2 property="name">{{ product.title | escape }}</h2>
    <link property="url" href="{{ product.url | within: collection }}">
    <meta property="manufacturer" content="{{ product.vendor }}">

    <figure>
      {%- for image in product.images -%}
      {%- assign temp_img = image | img_url: product_img_size_main, format: product_img_fmt %}
      <a property="image" typeof="ImageObject" href="{{ temp_img }}">
        <img property="contentUrl" src="{{ temp_img }}" alt="{{ image.alt | escape }}">
      </a>
      {%- endfor %}
    </figure>

    <div property="description">
      {{ product.description }}
    </div>

    <form property="offers" typeof="Offer" action="/cart/add" method="post">
      <span property="price"         content="{{ price }}">{{ price_display }}</span>
      <span property="priceCurrency" content="{{ currency }}">{{ currency }}</span>
      {%- if product.compare_at_price_min > product.price %}
      <s>{{ compare_price }}</s>
      {%- endif %}
      <link property="itemCondition" href="http://schema.org/NewCondition">
      {%- if product.available %}
      <link property="availability"  href="http://schema.org/{{availability}}">
        {%- if product.variants.size > 1 -%}
          {%- for variant in product.variants -%}
          {% if variant.available %}
          {% assign variant_disabled = '' %}
          {% else %}
          {% assign variant_disabled = ' disabled="true"' %}
          {% endif %}
      <input type="radio"{{ variant_disabled }} name="id" id="{{variant.id}}" value="{{variant.id}}">
      <label for="{{variant.id}}">{{variant.title}}</label>
          {%- endfor -%}
        {%- else %}
      <input type="hidden" id="{{ variant.id }}" name="id" value="{{ product.variants[0].id }}">
  {%- endif %}
      <button type="submit" name="add" value="Add to bag">Add to bag</button>
{%- else %}
{% comment %} TODO do the | t thing, and make sure this works with the structured data {% endcomment %}
      <span property="availability" href="http://schema.org/{{availability}}">Sold Out</span>
{% endif %}
    </form>
{%- assign col_handles = product.collections | map: 'handle' -%}
{% if col_handles contains "sale" %}

    <strong>{{ sale_disclaimer }}
    </strong>
{%- endif %}

  </article>
