  <article vocab="http://schema.org/" typeof="Product">

    <link property="url" href="{{ product.url | within: collection }}">
    <meta property="manufacturer" content="{{ product.vendor }}">
    <meta property="brand" content="{{ product.vendor }}">

    <figure>
      <a property="image" typeof="ImageObject" href="{{ img_url }}">
        <meta property="representativeOfPage" content="True">
        <img sizes="{{ img_sizes }}" srcset="{{ img_srcset }}" property="contentUrl" src="{{ img_url }}" alt="{{ img.alt | escape }}">
      </a>
      <aside>
      {%- for img in product.images -%}
        {%- include 'product_img' -%}
        <a property="image" typeof="ImageObject" href="{{ img_url }}">
          <img sizes="{{ img_sizes }}" srcset="{{ img_srcset }}" property="contentUrl" src="{{ img_url }}" alt="{{ img.alt | escape }}">
        </a>
      {%- endfor %}
      </aside>
    </figure>

    {% comment %} Description and purchase form {% endcomment %}
    <div>
      <h2 property="name">{{ product.title | escape }}</h2>
      <div property="description">
        {{ product.description }}
      </div>

      <form property="offers" typeof="OfferForPurchase" action="/cart/add" method="post">
        <link property="itemCondition" href="http://schema.org/NewCondition">
        <link property="availability"  href="http://schema.org/{{availability}}">
        <div class="pricing">
        {%- if product.compare_at_price_min > product.price %}
          <s>{{ compare_price }}</s>
        {%- endif %}
          <span property="price"         content="{{ price }}">{{ price_display }}</span>
          <span property="priceCurrency" content="{{ currency }}">{{ currency }}</span>
        </div>
        {%- if product.available %}
          {%- if has_variants -%}
        <div class="variants">
            {%- for variant in product.variants -%}
            {% if variant.available %}
            {% assign variant_disabled = '' %}
            {% else %}
            {% assign variant_disabled = ' disabled="true"' %}
            {% endif %}
          <input type="radio"{{ variant_disabled }} name="id" id="{{variant.id}}" value="{{variant.id}}">
          <label for="{{variant.id}}">{{variant.title}}</label>
            {%- endfor -%}
        </div>
          {%- else %}
        <input type="hidden" id="{{ variant.id }}" name="id" value="{{ product.variants[0].id }}">
          {%- endif %}
        <button type="submit" name="add" value="Add to bag" {% if has_variants %}title="Select an option"{% endif %}>Add to bag</button>
        {%- else %}
        Sold Out
  {% endif %}
      </form>
  {%- assign col_handles = product.collections | map: 'handle' -%}
  {% if col_handles contains "sale" %}

      <div class="sale-disclaimer">{{ settings.product_sale_disclaimer }}
      </div>
{%- endif %}
    </div>
    {% comment %} Description and purchase form end {% endcomment %}

  </article>
