<article vocab="http://schema.org/" typeof="Product" resource="{{product.url}}">

    <link property="url" href="{{ product.url }}">
    <link property="manufacturer" content="{{ product.vendor }}" href="https://schema.org/Organization">
    <link property="brand" content="{{ product.vendor }}" href="https://schema.org/Organization">
    <link property="itemCondition" href="http://schema.org/NewCondition">
    <link property="availability" href="http://schema.org/{{availability}}">

    <figure>
      <a property="image" typeof="ImageObject" href="{{ img_url }}">
        <link property="representativeOfPage" content="True" href="https://schema.org/Boolean">
        <img sizes="{{ img_sizes }}" srcset="{{ img_srcset }}" property="contentUrl" src="{{ img_url }}" alt="{{ img.alt | escape }}">
      </a>
      <a href="" class="arrow left">{{settings.product_left_image_text}}</a>
      <a href="" class="arrow right">{{settings.product_right_image_text}}</a>
      <aside>
      {%- for img in product.images -%}
        {%- include 'product_img' -%}
        <a property="image" typeof="ImageObject" href="{{ img_url }}"{% if img == product.images.first %} class="current_thumbnail"{% endif %}>
          <img sizes="{{ img_sizes }}" srcset="{{ img_srcset }}" property="contentUrl" src="{{ img_url }}" alt="{{ img.alt | escape }}">
        </a>
      {%- endfor %}
      </aside>
    </figure>

    {% comment %} Description and purchase form {% endcomment %}
    <div>
      <h2 property="name">{{ product.title | escape }}</h2>
      <div property="description">
        {{ product.description }}
      </div>

      <form action="/cart/add" method="post">
        {%- for variant in product.variants -%}
        {%- include 'product_variant_vars' %}
        <div property="priceSpecification" about="{{variant.url}}" data-selected-variant={{ is_selected_or_default_variant }} data-variant-id={{ variant.id }}>
          <span property="price"         content="{{ price }}">{{ price_display }}</span>
          <span property="priceCurrency" content="{{ currency }}">{{ currency }}</span>
        {%- if variant.compare_at_price > variant.price %}
        <s>{{ compare_price }} {{ currency }}</s>
        {%- endif %}
        </div>
        {%- endfor %}
        <div class="variants">
          {%- for variant in product.variants -%}
          {%- include 'product_variant_vars' %}
          <span property="offers" resource="{{variant.url}}" typeof="OfferForPurchase">
            <link property="availability" href="http://schema.org/{{variant_availability}}">
            {%- comment -%}
            If there's only a single variant, this for loop will only iterate
            once and we have no need to have a real input available.
            {%- endcomment -%}
            {% if product.has_only_default_variant %}
            <input type="hidden" id="{{ variant.id }}" name="id" value="{{ product.variants[0].id }}">
            {% else %}
            <input type="radio"{{ variant_disabled }} name="id" id="{{variant.id}}" value="{{variant.id}}" {% if is_selected_variant %} checked{% endif %}>
            <label for="{{variant.id}}">{{variant.title}}</label>
            {%- endif %}
          </span>
            {%- endfor %}
        </div>
        {%- if product.available %}
        <button type="submit" name="add" value="Add to bag" {% unless product.has_only_default_variant %}title="Select an option"{% endunless %}>Add to bag</button>
        {%- else %}
        <button type="submit" name="add" value="Add to bag" disabled>Sold Out</button>
  {% endif %}
      </form>
			<aside>
        <small>
					Questions?  Please visit our <a href="/pages/contact">contact</a> and
					<a href="/pages/policies">policies</a> pages.
				</small>
  {%- if product.compare_at_price_min > product.price %}
      <small class="sale-disclaimer">{{ settings.product_sale_disclaimer }}
      </small>
{%- endif %}
    </aside>
    </div>

  </article>
